header {
	background-color: #F2F2F2;
	height: 90px;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
	@include clearfix;
}

.logo {
	float: left;
}

form {
	float: right;
	height: 90px;
	line-height: 90px;
}

nav ul {
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin:10px;
	@include border-radius(100px);
	background: #004b9a;

	li {
		display: inline;
	}

	a {
		text-decoration: none;
		font-family:Arial;
		padding: 5px 20px;
		color: #fff;
		background-color: #000084;

		&:hover {
			color: #000084;
			background-color: #fff;
		}
	}
}