header {
	background-color: #F2F2F2;
	height: 90px;
	border-radius: 5px;
	padding: 10px;
	text-align: left;
	@include clearfix;
}

.logo {
	float: left;
}

form {
	float: right;
	height: 90px;
	line-height: 90px;
}

nav {
	z-index: 10000;
	position: relative;
	margin: 10px;

	ul {
		background: #222;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		position: relative;
		background: #004b9a;
		@include border-radius(100px);

		a {
			color: #FFFFFF;
			text-align: center;
			text-decoration: none;
			padding-top: 5px;
			padding-right: 25px;
			padding-bottom: 5px;
			padding-left: 25px;
			display:inline-block;
		}

		li {
			display: inline;
			position: relative;

			a {
				&:hover {
					background: lighten(#004b9a, 10%);
				}
			}

			&:hover > ul {
				display:block;
			}
		}

		ul {
			display:none;
			position:absolute;
			top: 20px;
			left:0;
			padding:0;
			z-index: 10000;
			margin: 0;
			max-height: 200px;
			overflow-y: scroll;
			border: 1px solid #004b9a;
			@include border-radius(0px);

			li {
				display: block;

				&:nth-child(even) {
					a {
						background: #fafafa;

						&:hover {
							background: #eee;
						}
					}
				}
			}

			a {
				width:100px;
				display: block;
				background: #fff;
				color: black;
				text-align: left;

				&:hover {
					background: #eee;
				}
			}

			ul {
				top:0;
				left:100%;
			}
		}
	}

}