circle.node {
	cursor: pointer;
	stroke: #34495e;
	stroke-width: 2px;
	box-sizing: border-box;
	stroke-location: inside;
}

line.link {
	fill: none;
	stroke: #34495e;
	stroke-width: 1.5px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: block;
	vertical-align: top;
}

span {
	height: 12px;
	width: 12px;
	border: 2px solid #34495e;
	display: inline-block;
	margin-right: 10px;
	border-radius: 100%;
}

.adverb {
	background: #e74c3c;
}

.noun {
	background: #3498db;
}

.verb {
	background: #2ecc71;
}

.adjective{
	background: #e78229;
}

.collapsed {
	background: #95a5a6;
}
