@import "compass/";

@import "helpers/_mixins.scss";
@import "helpers/_variables.scss";

@import "base/_normalize.scss";
@import "base/_typography.scss";

// @import "compass/utilities/sprites";
// @import "icons/*.png";
// @include all-icons-sprites;

// @include centre;
// @include clearfix;
// background: shade(red, 10%);
// @include clearfix;
// @include bp(tablet) {
// 	clear: none;
// }
// @include icons-sprite(youtube_icon-hover);
// @include rem(margin-bottom, 40px);

$elements: overlay, login;

circle.node {
	cursor: pointer;
	stroke: #34495e;
	stroke-width: 2px;
	box-sizing: border-box;
	stroke-location: inside;
}

line.link {
	fill: none;
	stroke: #34495e;
	stroke-width: 1.5px;
}

ul.node-key {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: 20px;

	li {
		display: block;
		vertical-align: top;
	}
}

span {
	height: 12px;
	width: 12px;
	border: 2px solid #34495e;
	display: inline-block;
	margin-right: 10px;
	border-radius: 100%;
}

.adverb {
	background: #e74c3c;
}

.noun {
	background: #3498db;
}

.verb {
	background: #2ecc71;
}

.adjective{
	background: #e78229;
}

.collapsed {
	background: #95a5a6;
}

.graph-container {
	border: 2px solid black;
	position: relative;
	width: 1000px;
	height: 800px;
}


.login {

	@include centre;
	z-index: index($elements, login);

	header {
		padding: 20px 30px;
		background: #34495e;
		color: white;
		display: block;

		span {
			cursor: pointer;
		}
	}

	form {
		padding: 20px 30px;
		background: white;
		display: block;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			margin: 10px;
		}

		input {
			display: block;
			width: 100%;
			padding: 5px 10px;
			box-sizing: border-box;
			@include border-radius(100px);
			border: 1px solid #ccc;
			outline: none;

			&:focus, textarea:focus {
				box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				border: 1px solid rgba(81, 203, 238, 1);
			}

			&[type=submit] {
				background: #16a085;
				color: white;
				border: none;
				@include transition(0.25s ease background);

				&:hover {
					background: #1abc9c;
				}
			}
		}
	}
}

.hide {
	display: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom :0;
	background: rgba(0,0,0,0.5);
	z-index: index($elements, overlay);
}

a {
	cursor: pointer;
}
